:root{
    --size: 70px;
}
body {
    background: #000000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box {
    width: var(--size);
    height: var(--size);
    background: white;
    border-radius: 5px;
    animation: spin .5s linear infinite;
}
@keyframes spin {
    17% { border-bottom-right-radius: 3px; }
    25% { transform: translateY(9px)
        rotate(22.5deg); }
    50% {
    transform: translateY(18px)
    scale(1,.9) rotate(45deg);
    border-bottom-right-radius: 40px; }
    75% { transform: translateY(9px)
        rotate(67.5deg); }
    100% { transform: translateY(0)
        rotate(90deg); }
}
#shadow {
    position: relative;
    top: 90px;
    width: var(--size);
    height: 5px;
    background: white;
    opacity: 0.5;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}
@keyframes shadow {
    50% { transform: scale(1.2,1); }
}